<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723789859319-4b4dfok6clbbrtvjk06lsnld4nl7r0hv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723789859319-4b4dfok6clbbrtvjk06lsnld4nl7r0hv</string>
	<key>API_KEY</key>
	<string>AIzaSyAV5oXutXMNpv4rTjB4i-xBpf6N0R_2Sek</string>
	<key>GCM_SENDER_ID</key>
	<string>723789859319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oksana.poliakova.FirebaseAuthenticationTest</string>
	<key>PROJECT_ID</key>
	<string>fir-authenticationtest-a09ee</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-authenticationtest-a09ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723789859319:ios:fdf81b3144c987ff90c6f2</string>
</dict>
</plist>